In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [ ]:
plt.plot(df["Date"], df["])

In [6]:
df = pd.read_csv("timein.csv")
df

         Date Day of Week  Time  Temp (F)
0    1/9/2018     Tuesday  9:07      23.0
1   1/10/2018   Wednesday  8:58      21.0
2   1/11/2018    Thursday  9:00      39.0
3   1/12/2018      Friday  9:18      62.0
4   1/15/2018      Monday  8:09      22.0
5   1/16/2018     Tuesday  8:49      29.0
6   1/17/2018   Wednesday  8:56      33.0
7   1/18/2018    Thursday  9:16      20.0
8   1/19/2018      Friday  9:01      21.0
9   1/22/2018      Monday  8:29      43.0
10  1/23/2018     Tuesday  8:25      56.0
11  1/24/2018   Wednesday  8:42       NaN
12  1/26/2018      Friday  8:20      19.0
13  1/29/2018      Monday  8:53      39.0
14  1/30/2018     Tuesday  8:41      32.0
15  1/31/2018   Wednesday  9:14      20.0
16   2/1/2018    Thursday  9:15      31.0
17   2/2/2018      Friday  8:47      29.0
18   2/5/2018      Monday  8:21      34.0
19   2/6/2018     Tuesday  9:02      30.0
20   2/7/2018   Wednesday  8:58      33.0
21   2/8/2018    Thursday  9:10      27.0

In [6]:
for row in df.iterrows():
    
    sec = sec + int(time[0])*3600+int(time[2:])*60

new = sec/(len(csv_data)-1)
hr = str(new/3600)[0]
minu = str((new-int(hr)*3600)/60)
minu = minu[:minu.find(".")]
avg = hr+":"+minu

IndexError: tuple index out of range

In [7]:
sec = 0
insec = {}
for row in df.iterrows():
    row[1][]
    insec[row] = int(row[0])*3600+int(row[2:])*60
    insec
sec

701460